h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--basic-font);
  font-size: var(--basic-font-size);
  color: var(--text-color);
}
