:root {
  --basic-font: "Roboto", sans-serif;
  --basic-font-size: 14px;
  --white-color: #fefefe;
  --accent-dark-green: #7eb101;
  --accent-light-green: #bbf330;
  --accent-yellow: #ffe550;
  --text-color: #2c2c2c;
  --background-gradient: radial-gradient(
    50% 50% at 50% 50%,
    #2f583f 0%,
    rgba(105, 105, 105, 0) 100%
  );
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--basic-font);
  font-size: var(--basic-font-size);
  color: var(--text-color);
}

.container {
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.favor {
  display: block;
  text-align: center;
  width: 480px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .favor {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    margin: 0 auto;
  }
}

.favorit {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (min-width: 768px) {
  .favorit {
    max-width: 768px;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .favorit {
    max-width: 1280px;
    width: 100%;
  }
}

.favorit__title {
  margin: 0 auto 20px;
  max-width: 280px;
  width: 100%;
  text-align: center;
  color: #2c2c2c;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
}
@media screen and (min-width: 768px) {
  .favorit__title {
    max-width: 656px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
  }
}

.favorit__text {
  max-width: 280px;
  width: 100%;
  text-align: center;
  margin: 0 auto 40px;
  color: #2c2c2c;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
@media screen and (min-width: 768px) {
  .favorit__text {
    max-width: 656px;
    margin: 0 auto 40px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
}

.favorit__list {
  display: block;
}
@media screen and (min-width: 768px) {
  .favorit__list {
    display: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: 768px;
    align-items: center;
    gap: 32px;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .favorit__list {
    display: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: 1280px;
    align-items: center;
    gap: 32px;
    justify-content: center;
  }
}

.favorit__list-item {
  display: block;
}
@media screen and (max-width: 767px) {
  .favorit__list-item {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .favorit__list-item {
    max-width: calc((100% - 96px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .favorit__list-item {
    max-width: calc((100% - 96px) / 3);
  }
}

.favorit__tablet {
  display: flex;
}
@media screen and (max-width: 767px) {
  .favorit__tablet {
    display: none;
  }
}

.favorit__list-item-meal {
  display: inline-block;
  padding: 18px;
  border: 11px solid rgb(255, 229, 80);
  border-radius: 50%;
  width: 202px;
  height: 202px;
  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.favorit__list-item-meal:hover, .favorit__list-item-meal:focus {
  border: 11px solid rgb(187, 243, 48);
}
@media screen and (min-width: 768px) {
  .favorit__list-item-meal {
    display: inline-block;
    padding: 20px;
    border: 14px solid rgb(255, 229, 80);
    border-radius: 50%;
    min-width: 240px;
    min-height: 240px;
    max-width: 240px;
    max-height: 240px;
    background-color: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .favorit__list-item-meal:hover, .favorit__list-item-meal:focus {
    border: 14px solid rgb(187, 243, 48);
  }
}
@media screen and (min-width: 1280px) {
  .favorit__list-item-meal {
    display: inline-block;
    padding: 24px;
    border: 16px solid rgb(255, 229, 80);
    border-radius: 50%;
    min-width: 315px;
    min-height: 315px;
    background-color: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .favorit__list-item-meal:hover, .favorit__list-item-meal:focus {
    border: 16px solid rgb(187, 243, 48);
  }
}/*# sourceMappingURL=index.css.map */