<section class="customers">
  <h2 class="customers-title">What our Customers Say</h2>
  <p class="customers-title__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
  <ul class="customers-list list">
    <li class="customers-list__item">
      <ul class="customers-list-star list">
        <li class="customers-list-star__item">
          <svg class="customers-list-star__item-icon" width="17" height="16">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
        </li>
        <li class="customers-list-star__item">
          <svg class="customers-list-star__item-icon" width="17" height="16">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
        </li>
        <li class="customers-list-star__item">
          <svg class="customers-list-star__item-icon" width="17" height="16">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
        </li>
        <li class="customers-list-star__item">
          <svg class="customers-list-star__item-icon" width="17" height="16">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
        </li>
        <li class="customers-list-star__item">
          <svg class="customers-list-star__item-icon" width="17" height="16">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
        </li>
      </ul>
      <p class="customers-list__item-text">
        “The Best app I have used to order food in a while, so many options to
        choose from too, I would recommend to a freind, No questions asked”
      </p>
      <ul class="customers-items list">
        <li class="customers-items__desc">
          <picture>
            <source srcset="./images/customers/1@custom-mr.png 1x, ./images/customers/2@custom-mr.png 2x" media="(min-width: 1280px)" />
            <source srcset="./images/customers/1@custom-mr.png 1x, ./images/customers/2@custom-mr.png 2x" media="(min-width: 768px)" />
            <source srcset="./images/customers/1@custom-mr.png 1x, ./images/customers/2@custom-mr.png 2x" media="(min-width: 480px)" />
            <img src="./images/customers/1@custom-mr.png" alt="mister" width="48" height="48" />
          </picture>
        </li>
        <li class="customers-items__desc">
          <h3 class="customers-items__desc-title">Sumith Shah</h3>
          <p class="customers-items__desc-text">Some Dude</p>
        </li>
      </ul>
    </li>
    <li class="customers-list__item">
      <ul class="customers-list-star list">
        <li class="customers-list-star__item">
          <svg class="customers-list-star__item-icon" width="17" height="16">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
        </li>
        <li class="customers-list-star__item">
          <svg class="customers-list-star__item-icon" width="17" height="16">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
        </li>
        <li class="customers-list-star__item">
          <svg class="customers-list-star__item-icon" width="17" height="16">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
        </li>
        <li class="customers-list-star__item">
          <svg class="customers-list-star__item-icon" width="17" height="16">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
        </li>
        <li class="customers-list-star__item">
          <svg class="customers-list-star__item-icon" width="17" height="16">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
        </li>
      </ul>
      <p class="customers-list__item-text">
        “The ease with which I can just go in and order what i want was amazing,
        It has been a very pleasant experience ordering from this app”
      </p>
      <ul class="customers-items list">
        <li class="customers-items__desc">
          <picture>
            <source srcset="./images/customers/1@custom-mrss.png 1x, ./images/customers/2@custom-mrss.png 2x" media="(min-width: 1280px)" />
            <source srcset="./images/customers/1@custom-mrss.png 1x, ./images/customers/2@custom-mrss.png 2x" media="(min-width: 768px)" />
            <source srcset="./images/customers/1@custom-mrss.png 1x, ./images/customers/2@custom-mrss.png 2x" media="(min-width: 480px)" />
            <img src="./images/customers/1@custom-mrss.png" alt="misis" width="48" height="48" />
          </picture>
        </li>
        
        <li class="customers-items__desc">
          <h3 class="customers-items__desc-title">Sumith Shah</h3>
          <p class="customers-items__desc-text">Some Dude</p>
        </li>
      </ul>
    </li>
  </ul>
</section>
