<section class="section favor" id="favorites">
	<div class="container favorit-container">
		<h3 class="favorit__title">Some of Our Favorites</h3>
		<p class="favorit__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		<ul class="favorit__list list">
			<li class="favorit__list-item">
				<picture>
					<source
						srcset="./images/favorites/desktop-fav/desk-favor-gamburger.webp 1x, ./images/favorites/desktop-fav/desk-favor-gamburger@2x.webp 2x"
						media="(min-width: 1280px)" type="image/webp" />
					<source
						srcset="./images/favorites/desktop-fav/desk-favor-gamburger.png 1x, ./images/favorites/desktop-fav/desk-favor-gamburger@2x.png 2x"
						media="(min-width: 1280px)" />
					<source
						srcset="./images/favorites/tablet-fav/tabl-favor-gamburger.webp 1x, ./images/favorites/tablet-fav/tabl-favor-gamburger@2x.webp 2x"
						media="(min-width: 768px)" type=“image/webp” />
					<source
						srcset="./images/favorites/tablet-fav/tabl-favor-gamburger.png 1x, ./images/favorites/tablet-fav/tabl-favor-gamburger@2x.png 2x"
						media="(min-width: 768px)" />

					<img class="favorit__list-item-meal" src="./images/favorites/mobile-fav/mob-favor-gamburger.png"
						alt="Гамбургер" />
				</picture>
			</li>
			<li class="favorit__list-item">
				<picture>

					<source
						srcset="./images/favorites/desktop-fav/desk-favor-pasta.webp 1x, ./images/favorites/desktop-fav/desk-favor-pasta@2x.webp 2x"
						media="(min-width: 1280px)" type="image/webp" />
					<source
						srcset="./images/favorites/desktop-fav/desk-favor-pasta.png 1x, ./images/favorites/desktop-fav/desk-favor-pasta@2x.png 2x"
						media="(min-width: 1280px)" />
					<source
						srcset="./images/favorites/tablet-fav/tabl-favor-pasta.webp 1x, ./images/favorites/tablet-fav/tabl-favor-pasta@2x.webp 2x"
						media="(min-width: 768px)" type=“image/webp” />
					<source
						srcset="./images/favorites/tablet-fav/tabl-favor-pasta.png 1x, ./images/favorites/tablet-fav/tabl-favor-pasta@2x.png 2x"
						media="(min-width: 768px)" />
					<img class="favorit__list-item-meal" src="./images/favorites/mobile-fav/mob-favor-pasta.png"
						alt="Паста" />
				</picture>
			</li>
			</li>
			<li class="favorit__list-item">
				<picture>
					<source
						srcset="./images/favorites/desktop-fav/desk-favor-pizza.webp 1x, ./images/favorites/desktop-fav/desk-favor-pizza@2x.webp 2x"
						media="(min-width: 1280px)" type=“image/webp” />
					<source
						srcset="./images/favorites/desktop-fav/desk-favor-pizza.png 1x, ./images/favorites/desktop-fav/desk-favor-pizza@2x.png 2x"
						media="(min-width: 1280px)" />
					<source
						srcset="./images/favorites/tablet-fav/tabl-favor-pizza.webp 1x, ./images/favorites/tablet-fav/tabl-favor-pizza@2x.webp 2x"
						media="(min-width: 768px)" type=“image/webp” />
					<source
						srcset="./images/favorites/tablet-fav/tabl-favor-pizza.png 1x, ./images/favorites/tablet-fav/tabl-favor-pizza@2x.png 2x"
						media="(min-width: 768px)" />
					<source
						srcset="./images/favorites/mobile-fav/mob-favor-pizza.webp 1x, ./images/favorites/mobile-fav/mob-favor-pizza@2x.webp 2x"
						media="(min-width: 480px)" type=“image/webp” />
					<source
						srcset="./images/favorites/mobile-fav/mob-favor-pizza.png 1x, ./images/favorites/mobile-fav/mob-favor-pizza@2x.png 2x"
						media="(min-width: 480px)" />
					<img class="favorit__list-item-meal" src="./images/favorites/mobile-fav/mob-favor-pizza.png"
						alt="Піца" />
				</picture>
			</li>
			<li class="favorit__list-item">
				<picture>
					<source
						srcset="./images/favorites/desktop-fav/desk-favor-chicken.webp 1x, ./images/favorites/desktop-fav/desk-favor-chicken@2x.webp 2x"
						media="(min-width: 1280px)" type="image/webp" />
					<source
						srcset="./images/favorites/desktop-fav/desk-favor-chicken.png 1x, ./images/favorites/desktop-fav/desk-favor-chicken@2x.png 2x"
						media="(min-width: 1280px)" />
					<source
						srcset="./images/favorites/tablet-fav/tabl-favor-chicken.webp 1x, ./images/favorites/tablet-fav/tabl-favor-chicken@2x.webp 2x"
						media="(min-width: 768px)" type="image/webp" />
					<source
						srcset="./images/favorites/tablet-fav/tabl-favor-chicken.png 1x, ./images/favorites/tablet-fav/tabl-favor-chicken@2x.png 2x"
						media="(min-width: 768px)" />

					<img class="favorit__list-item-meal" src="./images/favorites/tablet-fav/tabl-favor-chicken.png"
						alt="Салат з курятиною" />
				</picture>
			</li>
			<li class="favorit__list-item">
				<picture>
					<source
						srcset="./images/favorites/desktop-fav/desk-favor-salad.webp 1x, ./images/favorites/desktop-fav/desk-favor-salad@2x.webp 2x"
						media="(min-width: 1280px)" type="image/webp" />
					<source
						srcset="./images/favorites/desktop-fav/desk-favor-salad.png 1x, ./images/favorites/desktop-fav/desk-favor-salad@2x.png 2x"
						media="(min-width: 1280px)" />
					<source
						srcset="./images/favorites/tablet-fav/tabl-favor-salad.webp 1x, ./images/favorites/tablet-fav/tabl-favor-salad@2x.webp 2x"
						media="(min-width: 768px)" type="image/webp" />
					<source
						srcset="./images/favorites/tablet-fav/tabl-favor-salad.png 1x, ./images/favorites/tablet-fav/tabl-favor-salad@2x.png 2x"
						media="(min-width: 768px)" />

					<img class="favorit__list-item-meal" src="./images/favorites/tablet-fav/tabl-favor-salad.png"
						alt="Салат з морепродуктів" />
				</picture>
			</li>
			<li class="favorit__list-item">
				<picture>
					<source
						srcset="./images/favorites/desktop-fav/desk-favor-borshch.webp 1x, ./images/favorites/desktop-fav/desk-favor-borshch@2x.webp 2x"
						media="(min-width: 1280px)" type="image/webp" />
					<source
						srcset="./images/favorites/desktop-fav/desk-favor-borshch.png 1x, ./images/favorites/desktop-fav/desk-favor-borshch@2x.png 2x"
						media="(min-width: 1280px)" />
					<source
						srcset="./images/favorites/tablet-fav/tabl-favor-borshch.webp 1x, ./images/favorites/tablet-fav/tabl-favor-borshch@2x.webp 2x"
						media="(min-width: 768px)" type="image/webp" />
					<source
						srcset="./images/favorites/tablet-fav/tabl-favor-borshch.png 1x, ./images/favorites/tablet-fav/tabl-favor-borshch@2x.png 2x"
						media="(min-width: 768px)" />
					<img class="favorit__list-item-meal" src="./images/favorites/tablet-fav/tabl-favor-borshch.png"
						alt="Борщ" />
				</picture>
			</li>

		</ul>
	</div>
</section>