<section class="section">
	<div class="favorit">
		<h3 class="favorit__title">Some of Our Favorites</h3>
		<p class="favorit__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		<ul class="favorit__list">
			<li class="favorit__item">
				<img class="favorit__meal" src="./images/favorites/mobile-fav/1@-mob-favor-gamburger.png" alt="Гамбургер"
					width="223" height="223" />
			</li>
			<li class="favorit__item">
				<img class="favorit__meal" src="./images/favorites/mobile-fav/1@-mob-favor-pasta.png" alt="Паста"
					width="223" height="223" />
			</li>
			<li class="favorit__item">
				<img class="favorit__meal" src="./images/favorites/mobile-fav/1@-mob-favor-pizza.png" alt="Піца" width="223"
					height="223" />
			</li>
			<li class="favorit__item">
				<img class="favorit__meal" src="./images/favorites/mobile-fav/1@-mob-favor-gamburger.png" alt="Гамбургер"
					width="223" height="223" />
			</li>
			<li class="favorit__item">
				<img class="favorit__meal" src="./images/favorites/mobile-fav/1@-mob-favor-pasta.png" alt="Паста"
					width="223" height="223" />
			</li>
			<li class="favorit__item">
				<img class="favorit__meal" src="./images/favorites/mobile-fav/1@-mob-favor-pizza.png" alt="Піца" width="223"
					height="223" />
			</li>
		</ul>
	</div>
</section>