<section class="section favor">
    <div class="container favorit">
        <h3 class="favorit__title">Some of Our Favorites</h3>
        <p class="favorit__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="favorit__list">
            <li class="favorit__list-item">
                <img class="favorit__list-item-meal" srcset="
            ./images/favorites/mobile-fav/1@-mob-favor-gamburger.png 480w,
            ./images/favorites/tablet-fav/2@-tabl-favor-gamburger.png 768w"
                    src="./images/favorites/mobile-fav/1@-mob-favor-gamburger.png" alt="Гамбургер"
                    sizes="(min-width: 768px) 50vw,(min-width: 480px) 100vw, 100vw" />
            </li>
            <li class="favorit__list-item">
                <img class="favorit__list-item-meal" srcset="
                        ./images/favorites/mobile-fav/1@-mob-favor-pasta.png 480w,
                        ./images/favorites/tablet-fav/2@-tabl-favor-pasta.png 768w"
                    src="./images/favorites/mobile-fav/1@-mob-favor-pasta.png" alt="Паста"
                    sizes="(min-width: 768px) 50vw,(min-width: 480px) 100vw, 100vw" />
            </li>
            <li class="favorit__list-item">
                <img class="favorit__list-item-meal" srcset="
                                    ./images/favorites/mobile-fav/1@-mob-favor-pizza.png 480w,
                                    ./images/favorites/tablet-fav/2@-tabl-favor-pizza.png 768w"
                    src="./images/favorites/mobile-fav/1@-mob-favor-pizza.png" alt="Піца"
                    sizes="(min-width: 768px) 50vw,(min-width: 480px) 100vw, 100vw" />
            </li>
            <li class="favorit__list-item favorit__tablet">
                <img class="favorit__list-item-meal" srcset="
                                ./images/favorites/tablet-fav/1@-tabl-favor-chicken.png 480w,
                                ./images/favorites/tablet-fav/2@-tabl-favor-chicken.png 768w"
                    src="./images/favorites/tablet-fav/1@-tabl-favor-chicken.png" alt="Салат з курятиною"
                    sizes="(min-width: 768px) 50vw,(min-width: 480px) 100vw, 100vw" />
            </li>
            <li class="favorit__list-item favorit__tablet">
                <img class="favorit__list-item-meal" srcset="
                                    ./images/favorites/tablet-fav/1@-tabl-favor-salad.png 480w,
                                    ./images/favorites/tablet-fav/2@-tabl-favor-salad.png 768w"
                    src="./images/favorites/tablet-fav/1@-tabl-favor-salad.png" alt="Салат"
                    sizes="(min-width: 768px) 50vw,(min-width: 480px) 100vw, 100vw" />
            </li>
            <li class="favorit__list-item favorit__tablet">
                <img class="favorit__list-item-meal" srcset="
                                                ./images/favorites/tablet-fav/1@-tabl-favor-borshch.png 480w,
                                                ./images/favorites/tablet-fav/2@-tabl-favor-borshch.png 768w"
                    src="./images/favorites/tablet-fav/1@-tabl-favor-borshch.png" alt="Борщ"
                    sizes="(min-width: 768px) 50vw,(min-width: 480px) 100vw, 100vw" />
            </li>
        </ul>
    </div>
</section>