<footer class="footer">
  <div class="container footer__container">
    <nav class="navigation">
      <a href="#" class="logo">
        <svg class="logo__icon" width="66" height="52">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="#home" class="navigation__link">Home</a>
        </li>
        <li class="navigation__item">
          <a href="#about" class="navigation__link">About</a>
        </li>
        <li class="navigation__item">
          <a href="#service" class="navigation__link">Service</a>
        </li>
        <li class="navigation__item">
          <a href="#menu" class="navigation__link">Menu</a>
        </li>
        <li class="navigation__item">
          <a href="#contact" class="navigation__link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="subscribe">
      <p class="subscribe__caption">Subscribe</p>
      <form class="subscribe__form">
        <label class="subscribe__name">
          <input
            type="email"
            name="user_mail"
            class="subscribe__form-input"
            placeholder="Enter your email"
          />
        </label>
        <button type="submit" class="subscribe__btn">
          <span class="subscribe__btn-name">Subscribe</span>
        </button>
        <p class="subscribe__check-text">
          By subscribing you agree to with our&nbsp;<a
            class="subscribe__check-link"
            href="#"
            >Privacy Policy</a
          >
        </p>
      </form>
    </div>
  </div>
  <div class="container further-container">
    <ul class="further-information">
      <li class="further-information__item">
        <a href="#" class="further-information__link">Privacy Policy</a>
      </li>
      <li class="further-information__item">
        <a href="#" class="further-information__link">Terms of Service</a>
      </li>
      <li class="further-information__item">
        <a href="#" class="further-information__link">Cookies Settings</a>
      </li>
    </ul>
    <p class="copyright">2022 FoodSta. All right reserved.</p>
  </div>
</footer>
