<!--Header-->
<header class="header">

	<div class="container header-container">
		<nav class="navigation">

			<a href="#">
				<svg>
					<use href="./images/icons.svg#icon-logo""></use>
				</svg>
			</a>

			<ul class=" navigation__list list">
						<li class="navigation__item ">
							<a href="#" class="navigation__item_link link active">Home</a>
						</li>

						<li class="navigation__item">
							<a href="#" class="navigation__item_link link">Service</a>
						</li>

						<li class="navigation__item">
							<a href="#" class="navigation__item_link link">Menu</a>
						</li>

						<li class="navigation__item">
							<a href="#" class="navigation__item_link link">Contact</a>
						</li>
						</ul>
		</nav>

		<button type="button" class="button">Order Now</button>
	</div>

</header>