<!--Header-->
<header class="header">
	<div class="container header-container">
		<nav class="navigation">
			<a href="#" class="logo">
				<svg class="logo__icon" width='66' height='52'>
					<use href="./images/icons.svg#icon-logo"></use>
				</svg>
			</a>

			<ul class="navigation__list list">
				<li class="navigation__item ">
					<a href="#offerings" class="navigation__item_link link active">Home</a>
				</li>

				<li class="navigation__item ">
					<a href="#favorites" class="navigation__item_link link active">About</a>
				</li>

				<li class="navigation__item">
					<a href="#customers" class="navigation__item_link link">Service</a>
				</li>

				<li class="navigation__item">
					<a href="#subscribe" class="navigation__item_link link">Menu</a>
				</li>

				<li class="navigation__item">
					<a href="#footer" class="navigation__item_link link">Contact</a>
				</li>
			</ul>
		</nav>
		<button type="button" class="header-btn">Order Now</button>
		<button class="burger-btn" type="button" data-menu-open>
			<svg lass="icon-burger" width="28" height="28">
				<use class="icon-burger-svg" href="./images/icons.svg#icon-burger"></use>
			</svg>
		</button>
	</div>

	<div class="mobile-menu is-open" data-menu>
		<div class="mobile-menu__container">
			<button type="button" class="mobile-menu__close-btn" data-menu-close>
				<svg class="mobile-menu__close-icon" width="24" height="24">
					<use href="./images/icons.svg#icon-modal-close"></use>
				</svg>
			</button>

			<ul class="mobile-navigation list">
				<li class="mobile-navigation__item">
					<a href="#" class="mobile-navigation__item-link link">
						Home
					</a>
				</li>

				<li class="mobile-navigation__item">
					<a href="#" class="mobile-navigation__item-link link">
						About
					</a>
				</li>
				<li class="mobile-navigation__item">
					<a href="#" class="mobile-navigation__item-link link">
						Service
					</a>
				</li>

				<li class="mobile-navigation__item">
					<a href="#" class="mobile-navigation__item-link link">
						Menu
					</a>
				</li>

				<li class="mobile-navigation__item">
					<a href="#" class="mobile-navigation__item-link link">
						Contact
					</a>
				</li>

			</ul>

		</div>
	</div>

</header>