<div class="hero">
	<div class="hero-container container">

        <div class="hero-container__left-side">
          <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
          <p class="hero-discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
          <button type="button" class="hero-button">Order Now</button>    
        </div>
    
        <div class="hero-container__right-side">
            <button type="button" class="arrow arrow-left prev" onclick="plusSlides(-1)">
            <svg class="swipe-arrow-icon swipe-left">
                <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
            </button>

            <button type="button" class="arrow arrow-right next" onclick="plusSlides(1)">
            <svg class="swipe-arrow-icon swipe-right">
                <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
            </button>
                                    
            <div class="mySlides fade">
                <picture>
                    <source 
                        srcset="./images/hero/hero-bread.webp 1x, ./images/hero/hero-bread@2x.webp 2x" 
                        type="images/webp" 
                    >    
                    <source 
                        srcset="./images/hero/hero-bread.png 1x, ./images/hero/hero-bread@2x.png 2x" 
                        type="images/png"   
                    >
                    <img 
                        src="./images/hero/hero-bread.png" 
                        alt="bread" 
                        class="slider-img">
                </picture>
            </div>
            <div class="mySlides fade">
                <picture>
                    <source 
                        srcset="./images/hero/hero-egg.webp 1x, ./images/hero/hero-egg@2x.webp 2x" 
                        type="images/webp" 
                    >    
                    <source 
                        srcset="./images/hero/hero-egg.png 1x, ./images/hero/hero-egg@2x.png 2x" 
                        type="images/png"   
                    >
                    <img 
                        src="./images/hero/hero-egg.png" 
                        alt="egg" 
                        class="slider-img">
                </picture>
            </div>
        
            <div class="mySlides fade">
                <picture>
                    <source 
                        srcset="./images/hero/hero-mix.webp 1x, ./images/hero/hero-mix@2x.webp 2x" 
                        type="images/webp" 
                    >    
                    <source 
                        srcset="./images/hero/hero-mix.png 1x, ./images/hero/hero-mix@2x.png 2x" 
                        type="images/png"   
                    >
                    <img 
                        src="./images/hero/hero-mix.png" 
                        alt="mix" 
                        class="slider-img">
                </picture>
            </div>
            

          
        </div>
    </div>
</div>


		
