<div class="hero section">
    <div class="hero-container container">

        <div class="hero-container__left-side">
          <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
          <p class="hero-discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
          <button type="button" class="hero-button">Order Now</button>    
        </div>
    
        <div class="hero-container__right-side">
          <div class="hero__slider-list-wrapper">
            <ul class="slider-list list">
                <li class="slider-list__swipe-left">
                    <svg class="icon-swipe-left">
                        <use href="./images/icons.svg#icon-arrow"></use>
                    </svg>
                </li>
                <li class="slider-list__picture">
                    <picture>
                        <!-- DESCTOP -->
                        <source 
                            srcset="#" 
                            type="images/webp" 
                            media="1280px">
                        <source 
                            srcset="#" 
                            type="images/png" 
                            media="1280px"
                        >
                        <img 
                            src="#" 
                            alt="#" 
                            width="#" 
                            class="#">
                        <!-- TABLET -->
                        <source 
                            srcset="#" 
                            type="images/webp" 
                            media="768px">
                        <source 
                            srcset="#" 
                            type="images/png" 
                            media="768px"
                        >
                        <img 
                            src="#" 
                            alt="#" 
                            width="#" 
                            class="#"
                        >
                    </picture>
                </li>
                <li class="slider-list__swipe-right">
                    <svg class="icon-swipe-right">
                        <use href="./images/icons.svg#icon-arrow"></use>
                    </svg>
                </li>
            </ul>
            </div>
          </div>
        </div>
    </div>
</div>

