<div class="hero section">
    <div class="hero-container container">

        <div class="hero-container__left-side">
          <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
          <p class="hero-discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
          <button type="button" class="hero-button">Order Now</button>    
        </div>
    
        <div class="hero-container__right-side">
            <a href="" class="arrow arrow-left">
            <svg class="swipe-arrow-icon swipe-left">
                <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
            </a>

            <a href="" class="arrow arrow-right">
            <svg class="swipe-arrow-icon swipe-right">
                <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
            </a>
                                    
        
            <picture>
                <source 
                    srcset="./images/hero/hero-bread.webp 1x, ./images/hero/hero-bread@2x.webp 2x" 
                    type="images/webp" 
                >    
                <source 
                    srcset="./images/hero/hero-bread.png 1x, ./images/hero/hero-bread@2x.png 2x" 
                    type="images/png"   
                >
                <img 
                    src="./images/hero/hero-bread.png" 
                    alt="#" 
                    class="slider-img">
            </picture>
            
          </div>
        </div>
    </div>
</div>

