<div><div class="container">
    <section class="offerings section">
        <h2 class="offerings__title title">What’s Special About Our Offerings/h2>
        <p class="offerings__descript">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
            elementum tristique. Duis
            cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
        <ul class="offerings-list list">
            <li class="offerings-list__item">
                <h3 class="offerings-list__title">Fasest Delivery</h3>
                <p class="offerings-list__descript">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
                    enim in eros.</p>
            </li>
            <li class="offerings__list-item">
                <h3 class="offerings__list-title">Easy To Order</h3>
                <p class="offerings__list-descript">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
                    enim in eros.</p>
            </li>
            <button class="offerings__button">Order Now</button>
            <a href="/" class="offerings__link">Read more ></a>
        </ul>
    </section>
</div></div>