@import './hero';
@import './offerings';


@media screen and (min-width: 320px) {
    .offerings {
        background: url('../images/background-yellow/mobile-background-1.svg') no-repeat;
        background-color: var(--accent-yeloow);
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 480px) {
    .offerings {
        background: url('../images/background-yellow/480-background-1.svg') no-repeat;
        background-color: var(--accent-yeloow);
    }
}

@media screen and (min-width: 768px) {
    .offerings {
        background: url('../images/background-yellow/tablet-background-1.svg') no-repeat;
        background-color: var(--accent-yeloow);
    }
}

@media screen and (min-width: 1280px) {
    .offerings {
        background: url('../images/background-yellow/desktop-background-1.svg') no-repeat;
        background-color: var(--accent-yeloow);
    }
}