.favor {
  width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
  }
}
.favorit__title {
  width: 100%;
  text-align: center;
  color: var(--text-color);

  margin-bottom: 20px;
  @include text(700, 28px, 33px);

  @media screen and (min-width: 768px) {
    @include text(700, 42px, 49px);
  }
}

.favorit__text {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
  @include text(400, 14px, 16px);
  color: var(--text-color);
  @media screen and (min-width: 768px) {
    @include text(400, 16px, 19px);
  }
}

.favorit__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.favorit__list-item {
  border: 11px solid var(--accent-yellow);
  border-radius: 50%;
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.favorit__list-item:hover,
.favorit__list-item:focus {
  border-color: var(--accent-light-green);
}

.favorit__list-item:nth-child(n + 4) {
  display: none;
}

.favorit__list-item-meal {
  min-width: 225px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .favorit__list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 32px;
  }

  .favorit__list-item {
    width: 336px;
    height: 336px;
    border: 14px solid var(--accent-yellow);
  }

  .favorit__list-item:nth-child(n + 4) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .favorit__list-item {
    width: 394px;
    height: 394px;
  }
}
