@media screen and(max-width: 479px) {
    .footer {
        background-image: url('../images/footer/mobile/mobile-fruit.png');
        background-size: cover;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .footer {
            background-image: url('../images/footer/mobile/mobile-fruit@2x.png');
        }
    }  
}

.logo {
    display: block;   
}

.footer-navigation {
    display: flex;
}

.footer-navigation__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin-left: 81px;
    margin-top: 4px;
}

.footer-navigation__link {
    text-decoration: none;
    @include text(400, 14px, 16px);
    color: black;
}

.subscribe {
    display: block;
    margin-top: 40px;
}

.subscribe__caption {
    @include text(500, 14px, 21px);
}

.subscribe__form {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
}

.subscribe__form-input {
    width: 100%;
    color: #505050;
    background-color: #FFFFFF;
    border: 0.854167px solid var(--accent-yellow);
    border-radius: 30px;
    padding: 12px;
}

.subscribe__btn {
    display: block;
    width: 103px;
    background-color: #FFFFFF;
    border: 0.854167px solid var(--accent-dark-green);
    border-radius: 30px;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 11px;
}

.subscribe__btn-name {
    @include text(500, 13px, 20px);
    color: var(--text-color);
}

.subscribe__check-text {
    @include text(400, 10px, 12px);
    color: var(--text-color);
}

.subscribe__check-link {
    @include text(400, 10px, 12px);
    text-decoration-line: underline;
    color: var(--accent-dark-green);    
}

.further-container {
    padding-top: 60px;
}

.further-information {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 40px;
}

.further-information__link {
    @include text(400, 10px, 12px);
    text-decoration-line: underline;
    color: var(--accent-dark-green);
}

.copyright {
    @include text(400, 10px, 12px);
    color: var(--text-color);
    text-align: center;
}