.header {
  position: relative;
  background: #fefefe;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  //   height: 72px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 66px;
  height: 52px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: none;
}

.header-btn {
  display: none;
}

.burger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  line-height: 0;
}
.icon-burger-svg {
  fill: var(--accent-dark-green);
}

@media screen and (min-width: 480px) {
}

// .navigation__list {
//   display: flex;
//   justify-content: center;
//   column-gap: 28px;
//   margin-left: 735px;
// }

// .navigation__item {
//   color: #2c2c2c;
// }

// .navigation__item_link {
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.14;

//   color: #2c2c2c;
//   transition-property: color;
// }

// .navigation__item_link:hover,
// .navigation__item_link:focus {
//   color: #bbf330;
// }

// .button {
//   width: 98px;
//   height: 32px;
//   left: 638px;
//   top: 20px;
//   font-weight: 500;
//   font-size: 13px;
//   line-height: 1.5;
//   background: #bbf330;
//   border: none;
//   border-radius: 30px;
//   margin-left: 30px;
//   margin-right: 16px;
//   margin-top: 20px;
//   margin-bottom: 20px;
// }

// // MOBILE MENU//

// .mobile-menu-btn {
//   background-color: transparent;
//   border: none;
// }

// .mobile-menu-btn.is-hidden {
//   visibility: hidden;
//   opacity: 0;
//   pointer-events: none;
//   background-color: rgba(0, 0, 0, 1);
// }

// .mobile-menu-btn__icon {
//   fill: #7eb101;
// }

.mobile-menu {
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 500;
  width: 130px;
  //   height: 255px;
  background-color: #fefefe;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  border-radius: 30px 0px 30px 30px;
}

.mobile-menu.is-open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu__container {
  width: 100%;
}

.mobile-menu__close-btn {
  position: absolute;
  padding: 0;
  top: 10px;
  right: 10px;
  line-height: 0;
  background-color: transparent;
  border: none;
}

.mobile-menu__close-icon {
  fill: var(--text-color);
}

.mobile-navigation {
}

.mobile-navigation__item-link {
  display: block;
  @include text(400, 16px, 19px);
  color: #000000;
  padding: 16px;
}

.mobile-navigation__item:first-child {
  border-top-left-radius: 30px;
}
.mobile-navigation__item:last-child {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.mobile-navigation__item:hover,
.mobile-navigation__item:focus {
  background-color: var(--accent-light-green);
}
// .mobile-navigation__item {
//   background-color: transparent;
//   transition-property: background-color;

//   &:hover,
//   &:focus {
//     background-color: #bbf330;
//   }
// }

// .mobile-navigation__item-link {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.8;
//   color: #000000;
// }
