// -----------MOBILE---------//
@media screen and (max-width: 767.5px) {
  .hero-container__right-side {
    display: none;
  }

  .hero {
    padding-top: 56px;
    padding-bottom: 0;
  }
}


// ----ANIMATION----//
.fade {
  animation-name: fade;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
// ----/ANIMATION----//


.hero-container__left-side {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  align-items: flex-start;
}

.hero-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;

  color: var(--text-color);
}

.hero-discription {
  line-height: 1.5;

  color: var(--text-color);
}

.hero-button {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: var(--text-color);

    padding: 6px 18px;
    background: var(--accent-light-green);
    border-radius: 30px;
    border: none;

    &:hover {
        background: #B5FF00;
    }
}

.hero-container{
  position: relative;
}

// -----------TABLET---------//
@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 0;
  }

  .hero-container {
    position: relative;
  }



  .hero-container__left-side {
    width: 537px;
    row-gap: 40px;
  }

  .hero-container__right-side {
    padding: 0 8px;
  }

  .hero-title {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 4px;
  }

  .hero-discription {
    font-size: 16px;
    width: 336px;
  }


  // ----slider---- //



  .hero-container__right-side {
    

    position: absolute;
    right: 0;
    top: 89px;
  }

  .swipe-arrow-icon {

    width: 12px;
    height: 20px;
  }

  .arrow {
    display: block;
    position: absolute;
    top: 50%;

    background-color: white;    

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    width: 34px;
    height: 28px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow-left{
    left: 0;      
  }

  .arrow-right {
    right: 0;
  }


  .swipe-right {
    transform: rotate(180deg);
  }

  .slider-img {
    width: 320px;
    
    border-radius: 50%;
    border: 14px solid #FFE550;
  }

  
}


// -----------DESCTOP---------//
@media screen and (min-width: 1280px) {
   .hero {
    padding-bottom: 0;

    padding-top: 155px;
  }

  .hero-container__left-side {
    width: 502px;
    row-gap: 28px;
  }

  .hero-title {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 0;
  }

  .hero-discription {
    margin-bottom: 12px;
    width: 100%;
  }

  .hero-container__right-side {
   top: -145px;
   right: 0;
   padding: 0 14px;
  }

  .arrow {
    width: 48px;
    height: 40px;
  }

  .swipe-arrow-icon {
    width: 17px;
    height: 29px;
  }


  .slider-img {
    width: 580px;
    
    border-radius: 50%;
    border: 26px solid #FFE550;
  }
}
