@media screen and (min-width: 320px) {
  .offerings {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    &__title {
      @include text(700, 28px, 33px);
    }
    &__descript {
      @include text(400, 14px, 16px);
    }
    &-list {
      &__title {
        @include text(700, 18px, 21px);
      }

      &__descript {
        @include text(400, 14px, 16px);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .offerings {

    &__title {
      @include text(700, 42px, 49px);
    }

    &__descript {
      @include text(400, 16px, 19px);
    }

    //&-list {}
  }
  
}
