@media screen and (min-width: 320px) {
    .offerings{
        padding: 60px 20px;
        &__image {
            align-self: center;
            z-index: 2;
            position: relative;
            width: 280px;
            height: 280px;
            border: 3px solid #ffffff80;
            margin-bottom: 32px;
            border-radius: 50%;
            &-content {
                position: absolute;
                z-index: 2;
                transform: translate(37px, -40px);
                }
            &::after {
                content: '';
                position: absolute;
                z-index: 1;
                top: 10px;
                left: 10px;
                right: 10px;
                bottom: 10px;
                border-radius: 50%;
                background: radial-gradient(50% 25% at 50% 75%, #2F583F 0%, #696969 15%, var(--white-color) 50%);
            }
        }
        &__wrapper {
            display: flex;
            gap: 28px;
            flex-direction: column;
        }
        &__title {
            @include text(700, 28px, 33px);
        }
        &__descript {
            @include text(400, 14px, 16px);
        }
        &-list {
            display: flex;
            flex-direction: column;
            gap: 28px;
            &__svg {
                width: 48px;
                height: 48px;
                padding: 8px;
                background-color: var(--white-color);
                border-radius: 50%;
            }
            &__use {
                fill: var(--accent-light-green);
                transition-delay: 250ms;
                &:hover,
                &:focus {
                    fill: var(--accent-dark-green);
                }
            }
            &__title {
                margin-top: 8px;
                margin-bottom: 16px;
                @include text(700, 18px, 21px);
            }
            &__descript {
                @include text(400, 14px, 16px);
            }
        }
        &-ad {
            display: flex;
            align-items: center;
            gap: 24px;

            &__button {
                min-width: 106px;
                border: 3px solid var(--accent-light-green);
                border-radius: 21px;
                padding: 10px 22px ;

                font-weight: 700;
                font-size: 16px;
                line-height: 1.88;
                letter-spacing: 0.06em;
                background-color: var(--white-color);
                transition-delay: 250ms;

                @include text(500, 13px, 20px);
            
                &:hover,
                &:focus {
                    border-color: var(--accent-dark-green);
                }   
            }
            &__link {
                @include text(400, 13px, 20px);
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .offerings {
        flex-direction: row;
        gap: 40px;
        &__section {
            padding-top: 165px;
        }
        &__image {
            align-self: auto;
            margin-bottom: 0;
            // &::after {
            //     content: ' ';
            //     display: block;
            //     position: absolute;
            //     left: 0;
            //     top: 0;
            //     width: 100%;
            //     height: 100%;
            //     opacity: 0.6;
            //     //background-image: 
            //     //    url('../images/offerings/mobile-off/1@-mob-offerings-apple.png'), 
            //     //    url('../images/offerings/mobile-off/1@-mob-offerings-apple.png');
            //     background-repeat: no-repeat;
            //     background-position: 50% 0;
            //     background-size: cover;
            // }

            }
        &__title {
            @include text(700, 42px, 49px);
        }

        &__descript {
            @include text(400, 16px, 19px);
        }
        &-list {
            flex-direction: row;
        }
    }
}

@media screen and (min-width: 1280px) {
    .offerings {
        &__text {
            display: block;
            display: flex;
            flex-direction: column;
        }
        &__link {
            visibility: hidden;
        }
    }
}
